.modal {
  background-color: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;

  display: flex;
  justify-content: center;



}

.modal-close {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 3;
}

.hidden {
  display: none;
}

.modal-main-movie {
  padding-top: 50px;

}

.modal__image {
  width: 729px;
  height: 350px;
}

.modal__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;


  color: #FFFFFF;

}

.modal__description {
  width: 730px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;



  color: #FFFFFF;


}

.modal__genre {
  background: #E183C8;
  border-radius: 8px;
  padding: 7px 9px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 30px */


  color: #FFFFFF;



}

.modal__rating {
  background: #A785ED;
  border-radius: 8px;
  padding: 7px 9px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 30px */


  color: #FFFFFF;
}